<div
  class="container-fluid"
  th:fragment="client-form-content"
  xmlns:th="http://www.thymeleaf.org"
>
  <div class="row">
    <div class="col offset-xl-2 offset-lg-3 offset-md-3 offset-sm-3 offset-3">
      <form
        action="#"
        th:action="@{/agregar-cliente}"
        th:object="${client}"
        method="post"
      >
        <div class="card">
          <div class="card-body">
            <h1 class="card-title h3 mb-4 text-gray-800">Datos del cliente</h1>
            <div class="form-row">
              <div class="form-group col-md-8">
                <input
                  type="text"
                  id="clientName"
                  class="form-control"
                  placeholder="Nombre del cliente"
                  th:field="*{name}"
                />
              </div>
              <div
                th:if="${#fields.hasErrors('name')}"
                class="alert alert-danger col-md-4"
                role="alert"
                th:errorclass="error-validation"
                th:errors="*{name}"
                th:text="${err}"
              ></div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <input
                  type="text"
                  id="clientRFC"
                  class="form-control"
                  placeholder="RFC del cliente"
                  th:field="*{rfc}"
                />
              </div>
              <div
                th:if="${#fields.hasErrors('rfc')}"
                class="alert alert-danger col-md-4"
                role="alert"
                th:errorclass="error-validation"
                th:errors="*{rfc}"
                th:text="${err}"
              ></div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <input
                  type="text"
                  id="clientAddress"
                  class="form-control"
                  placeholder="Dirección fiscal"
                  th:field="*{fiscalAddress}"
                />
              </div>
              <div
                th:if="${#fields.hasErrors('fiscalAddress')}"
                class="alert alert-danger col-md-4"
                role="alert"
                th:errorclass="error-validation"
                th:errors="*{fiscalAddress}"
                th:text="${err}"
              ></div>
            </div>
            <div class="form-row">
              <div class="col-md-12 offset-xl-3">
                <div class="form-group col-md-8">
                  <button type="submit" class="btn btn-primary">
                    Agregar cliente
                  </button>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="offset-xl-2">
                <div
                  th:if="${successful}"
                  class="alert alert-success"
                  role="alert"
                >
                  Cliente agregado correctamente
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
