<div
  class="container-fluid"
  th:fragment="work-order-selector-content"
  xmlns:th="http://www.thymeleaf.org"
>
  <div class="row">
    <div class="col offset-xl-2 offset-lg-3 offset-md-3 offset-sm-3 offset-3">
      <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Selecciona una orden de trabajo</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ordenes de trabajo</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="table table-bordered"
                id="users"
                width="100%"
                cellspacing="0"
              >
                <thead>
                  <tr>
                    <th>Obra</th>
                    <th>Fecha de muestreo (año-mes-día)</th>
                    <th>Hora de servicio</th>
                    <th>Resistencia (kg<sub>f</sub>/cm<sup>2</sup>)</th>
                    <th>Edad de diseño (días)</th>
                    <th>Proveedor</th>
                    <th>Seleccionar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="workOrder : ${workOrders}">
                    <td th:text="${workOrder.project.projectName}"></td>
                    <td th:text="${workOrder.sampleDate}"></td>
                    <td th:text="${workOrder.serviceHour}"></td>
                    <td th:text="${workOrder.resistanceFc}"></td>
                    <td th:text="${workOrder.designAge}"></td>
                    <td th:text="${workOrder.concreteProvider}"></td>
                    <td>
                      <a
                        th:href="@{/orden/{orderId}/agregar-muestra(orderId=${workOrder.id})}"
                        class="btn btn-success btn-circle"
                      >
                        <i class="fas fa-check"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
